.top1 {
    background-color: #ffb0e3;
    text-align: center;
}

.block1,
.block2 {
    background-color: #ff5cd4;
    border-radius: 7%;
    width: 5.5%;
    margin: 1%;
}

.tables {
    /* background-color: black; */
    border: 1px;
    border-style: solid;
    margin: 2%;
    padding: 1%;
}

.name {
    background-color: white;
}

.allof {
    font-family: 'Noto Sans Thai', sans-serif;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .block1,
    .block2 {
        width: 20%; /* Adjust as needed */
        margin: 2%;
    }

    .tables {
        margin: 4%;
    }
}
